<p *ngIf="false"> This is sample paragraph for ngIf</p>

<p [hidden]="showImage"> This is sample paragraph for Hidden</p>

<ul *ngFor="let num of [1,2,4,5,7]"  [ngClass]="getMyClass()">
  <li>{{num}}</li>
</ul>
<div class="card">
  <div class="card-header">
   {{productTitle}} Total Products {{filteredProducts.length}}
   {{2-2}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Products</h5>
    <div class="row">
      <div class="col-md-2">
        Filter by {{filterList}}
      </div>
      <div class="col-md-6">
        <input type="text" [(ngModel)]="filterList" />
        </div>
    </div>
    <div class="row">
      <table class="table" *ngIf="filteredProducts.length > 0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Date Added</th>
            <th scope="col">Image</th>
            <th scope="col">
              <button class="btn btn-primary" (click)="toggleImage()" >
               {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of filteredProducts" [ngSwitch]="p.qty">
            <th scope="row">{{p.id}}</th>
            <td [ngClass]="getMyClass()">
              <a [routerLink]="['/products', p.id]">
              {{p.name | removeSpace | lowercase }}
            </a>
            </td>
            <td [ngStyle]="{'font-weight': p.qty == 0 ? 'bold':'normal'}" >{{p.price | myCurrency : 'PKR' : '*' }}</td>
            <td [ngClass]="{red: p.qty == 0}"  >
            <div *ngSwitchCase="1">
              One
            </div>
            <div *ngSwitchCase="2">
              Two
            </div>
            <div *ngSwitchCase="0" >
              Out of Stock
            </div>
            <div *ngSwitchDefault>
              {{p.qty}}
            </div></td>
            <td>
              {{p.dateAdded}}
            </td>
            <td>
              <img width="100"  src="{{p.imageUrl}}" />
              </td>
              <td>
                <img [src]="p.imageUrl" *ngIf="showImage" [style.width.px]="imageWidth" />
                </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
